
.navbar {
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    background-color: white;
}

.navbar>div{
    flex-direction: column;
    align-items: center;
}

.navbar image{
    height: 24px;
    object-fit: contain;

}

.navbar text{
    font-size: 14px;
}