.my-address{
    background-color: #f2f2f2;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
}
.my-address-titile{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.my-address-body{
    background-color: #fefefe;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    margin: 10px;

}
.address{
    background-color: #fefefe;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}
.address-main{
    background-color: #fefefe;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.address-name-phone{
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
}

.my-address-button{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #fefefe;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-address-button button{
    width: 80%;
    height: 70%;
    background-color: orange;
    font-weight: 600;
}
