.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

}
.div{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
.div1{
    flex-direction : column; align-items : center; justify-content : center; width : 100%;
}
.text1{
    font-size: 22px;
    margin-right : 5px;color: red;
}
.text2{
    font-size: 20px;
    margin-right : 5px;
}
.image{
    border-radius : 15px; height : 30px; width : 30px;justify-content: center;align-items: center;
}

