.container {
    flex-direction: column;
    width: 100%;
}

.status-point{
    height: 16px;
    width: 16px;
    margin-start: 10px;
    border-radius: 8px;
}
.toolbar image{
    width: 24px;
    object-fit: contain;
}

.search-item {
    border-radius: 25px;
    margin:6px 4% 6px 4%;
}

.message-input {
    background-color: white;
    position: fixed;
    bottom: 0px;
}

.search,.search-item {
    background-color: #F1F3F5;
}

.text-button {
    background-color: orange;
    text-color: black;
    border-color: black;
    border: 2px;
}

.circle-button{
    background-color: orange;
    icon-width: 24px;
    icon-height: 24px;
}

.list{
    width: 100%;
    columns: 1;
}

.listItem{
    width: 100%;
    padding: 10px;
}

.list image{
    width: 50px;
    margin-end: 10px;
    object-fit: contain;
}

.left-right-line{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.date-text{
    font-size: 16px;
    font-weight:300;
    margin-bottom: 10px;
}
.msg-text{
    max-width: 80%;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

.msg-text image{
    max-height: 100px;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
}

.msg-text text{
    padding-right: 20px;
/*    text-overflow: ellipsis;*/
}

.img-avatar{
    width: 50px;
    height: 50px;
}