.container {
   flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
}
