.container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
}

.title {
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
}
.headimg{
    margin-start: 5px;
    margin-end: 5px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding: 6px;
    object-fit: contain;
}
.hint{
    background-color: bisque;
    color: orange;
    font-size: 14px;
    margin-start: 10px;
    margin-end: 10px;
    border-radius: 4px;
}
.icon{
    width: 32px;
    height: 32px;
    padding: 3px;
}
.shop{
    width: 32px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 2px;
    margin-start: 10px;
    margin-top: 5px;
}